$colorPrimary: #39dcbd;
$colorGrey: #adb5bd;
$border: 1px solid $colorGrey;

.diet-form {
   background-color: #fff;
   padding: 20px;
   box-sizing: border-box;
   border-radius: 20px;
}
.fieldset {
   margin: 20px 0;
   &:first-child {
      margin-top: 0;
   }
   & > legend {
      font-size: 20px;
      font-weight: 700;
      color: lighten($colorPrimary, 15%);
      margin-bottom: 10px;
   }
}

.btn-primary {
   display: inline-block;
   height: 40px;
   padding: 0 15px;
   border: none;
   border-radius: 5px;
   background-color: $colorPrimary;
   font-weight: 700;
   color: #fff;
   letter-spacing: 2px;
   transition: 0.25s all;
   text-decoration: none;
   line-height: 40px;
   &:hover {
      background-color: lighten($colorPrimary, 15%);
   }
}

.label-input {
   display: inline-block;
   margin: 10px 0;
   cursor: pointer;
   width: 150px;
   vertical-align: top;
   & > input {
      box-sizing: border-box;
      padding: 10px 15px;
      border: $border;
      border-radius: 5px;
      width: 100%;
      &:focus {
         border-color: $colorPrimary;
      }
      &:hover {
         border-color: lighten($colorPrimary, 15%);
      }
   }
   &:not(:last-child) {
      margin-right: 0.5em;
   }
   & > span {
      display: block;
      margin: 0.25em 0;
   }
}

.label-radio {
   display: block;
   margin: 10px 0;
   cursor: pointer;
   & > input {
      display: none;
   }
   & > span {
      display: inline-flex;
      align-items: center;
      user-select: none;
      &:before {
         content: "";
         display: inline-block;
         width: 1em;
         height: 1em;
         flex-shrink: 0;
         flex-grow: 0;
         border: $border;
         border-radius: 50%;
         margin-right: 0.5em;
         box-sizing: border-box;
         transition: 0.15s all;
      }
   }
   & > input:not(:disabled):not(:checked) + span:hover {
      &:before {
         border-color: lighten($colorPrimary, 15%);
      }
   }
   & > input:not(:disabled):active + span:before {
      background-color: lighten($colorPrimary, 40%);
      border-color: lighten($colorPrimary, 40%);
   }
   & > input:focus + span::before {
      box-shadow: 0 0 0 0.2rem rgba($colorPrimary, 0.25);
   }
   & > input:focus:not(:checked) + span::before {
      border-color: $colorPrimary;
   }
   & > input:checked + span::before {
      border-width: 5px;
      border-color: $colorPrimary;
   }
   & > input:disabled + span::before {
      background-color: #e9ecef;
   }
}