$colorPrimary: #39dcbd;
$colorGrey: #adb5bd;
$border: 1px solid $colorGrey;

.diet-form {
   background-color: #fff;
   padding: 20px;
   box-sizing: border-box;
   border-radius: 20px;
}
.fieldset {
   margin: 20px 0;
   &:first-child {
      margin-top: 0;
   }
   & > legend {
      font-size: 20px;
      font-weight: 700;
      color: lighten($colorPrimary, 15%);
      margin-bottom: 10px;
   }
}

.btn-primary {
   display: inline-block;
   height: 40px;
   padding: 0 15px;
   border: none;
   border-radius: 5px;
   background-color: $colorPrimary;
   font-weight: 700;
   color: #fff;
   letter-spacing: 2px;
   transition: 0.25s all;
   text-decoration: none;
   line-height: 40px;
   &:hover {
      background-color: lighten($colorPrimary, 15%);
   }
}