$bgColor: lighten(#39dcbd, 40%);
$colorPrimary: #39dcbd;

body {
  background-color: $bgColor;
  font-family: Arial, sans-serif;
}
h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 20px 0;
  color: $colorPrimary;
  text-shadow: 0 2px 3px white;
}

.container {
  max-width: 100%;
  padding: 0 40px;
}
.grid {
  display: flex;
  margin: 0 -10px;
  & > * {
    padding: 0 10px;
  }
  .cell-6 {
    width: 50%;
  }
}

dl {
  margin: 20px 0;
  dt {
     margin-top: 20px;
     margin-bottom: 15px;
  }
  dd {
     margin: 10px 0;
     font-size: 14px;
  }
}
b,
.mark-blue,
.mark-green,
.mark-red {
  font-weight: 700;
}

small {
  font-size: 0.875em;
}
.mark-blue {
  color: #7a8ee7;
}
.mark-green {
  color: #70cf80;
}
.mark-red {
  color: #e77aad;
}