$bgColor: lighten(#39dcbd, 40%);
$colorPrimary: #39dcbd;

body {
  background-color: $bgColor;
  font-family: Arial, sans-serif;
}
h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 20px 0;
  color: $colorPrimary;
  text-shadow: 0 2px 3px white;
}

.container {
  max-width: 100%;
  padding: 0 40px;
}